.error-text {
    color: red !important;
    font-weight: bold !important;
}

.logout-button-div {
    display: flex;
    justify-content: center;
}

.pads-left-right {
    padding: 0 13px !important;
}

.no-pad-margin {
    margin: 0px !important;
    padding: 0px !important;
}

.prl-10 {
    padding: 0px 10px !important;
}
